@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --black: #264653;
    --black-opacity: rgba(38, 70, 83, 0.5);
    --gray: #eeeeee;
    --red: #E76F51;
    --red-opcaity: rgba(231, 111, 81, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
}

.banner {
    background-image: url('src/img/banner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .banner--layer {
    width: 100%;
    height: 100%;
    background-color: var(--black-opacity);
    display: flex;
    align-items: center;
}

.banner .banner--layer .banner--text {
    color: white;
    font-size: 4.2em;
    background-color: var(--red);
    width: 600px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2rem .5rem 2rem 3.5rem;
    transition: box-shadow .3s ease;
}

.banner .banner--layer .banner--text:hover {
    box-shadow: 10px 10px var(--gray);
}

.text-major {
    margin: 1.5em 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--black);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .card {
    margin: 20px 0;
    display: flex;
    height: 500px;
    width: 70em;
    border-radius: 10px;
    background-color: var(--gray);
    box-shadow: 0px 7px 5px 0px #e5e5e5;
    transition: transform .4s ease;
}

.main > .card:hover {
    transform: scale(1.03);
}

.main .card .card-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .card .card-section p {
    font-size: 1.1rem;
    line-height: 25px;
    padding: 0 20px;
    text-align: center;
    font-weight: 100;
}

.main .card .card-section h3 {
    margin-bottom: 20px;
    font-size: 1.9rem;
}

.card-imagen-r {
    flex: 1;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.card-imagen-l {
    flex: 1;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.card--img {
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 10px;
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    color: white;
    background-color: var(--black);
}